.paragraph{
  /* width: 50%; */
  text-align: center;
  margin: 0 atuo;
}
.para{
  width: 1145px;
}
header{
  width: 100%;
}

@media only screen and (max-width: 600px){
  .paragraph{
    color: red;
  }
}
@media only screen and (min-width: 600px){
  .paragraph{
    color: blue;
  }
}
@media only screen and (min-width: 768px){
  .paragraph{
    color: yellow;
  }
}
@media only screen and (min-width: 992px){
  .paragraph{
    color: green;
  }
}
@media only screen and (min-width: 1200px){
  .paragraph{
    color: purple;
  }
}
